Repository benbenbang/tombo, changes with the labels that .github/labeler.yml gives for each.
All labels: triage, enhancement, workflows, documentation

refactor(core): fix linter errors
  src/api/cache/package-cache.ts
  src/api/clients/http-client.ts
  src/api/services/pypi-service.ts
  src/providers/version-completion-provider.ts
  src/toml/parser.ts
  src/ui/decoration.ts
Labels: triage, enhancement

refactor(wip): changes in .pre-commit-config.yaml tsconfig.json
  .pre-commit-config.yaml
  tsconfig.json
Labels: triage

refactor(wip): changes in .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: triage

refactor(core): fix linter errors (#41)
  .pre-commit-config.yaml
  src/api/cache/package-cache.ts
  src/api/clients/http-client.ts
  src/api/services/pypi-service.ts
  src/providers/version-completion-provider.ts
  src/toml/parser.ts
  src/ui/decoration.ts
  tsconfig.json
Labels: triage, enhancement

refactor(py): update dev tools nox & mise
  .pre-commit-config.yaml
  noxfile.py
  requirements.txt
Labels: triage

refactor(py): update dev tools nox & mise (#42)
  .pre-commit-config.yaml
  noxfile.py
  requirements.txt
Labels: triage

docs(license): update year
  LICENSE
Labels: triage

docs(license): update year to reflect the current year (#43)
  LICENSE
Labels: triage

docs(mkdocs): clean content and add short demo
  docs/docs/features/overview.md
  docs/docs/index.md
Labels: triage, documentation

docs(mkdocs): clean content and add short demo (#45)
  docs/docs/features/overview.md
  docs/docs/index.md
Labels: triage, documentation

docs(mkdcos): clarify the limitation of quick fix
  docs/docs/index.md
  docs/docs/troubleshooting/common-issues.md
Labels: triage, documentation

docs(mkdcos): clarify the limitation of quick fix (#46)
  docs/docs/index.md
  docs/docs/troubleshooting/common-issues.md
Labels: triage, documentation

ci(ignore): add vscode bundle ignore file
  .vscodeignore
Labels: triage

ci(ignore): add vscode bundle ignore file (#47)
  .vscodeignore
Labels: triage

fix(quick-action): fix an issue where poistion wrongly calculated
  src/providers/quickAction.ts
Labels: triage, enhancement

fix(quick-action): fix an issue where poistion wrongly calculated (#48)
  src/providers/quickAction.ts
Labels: triage, enhancement

fix(docs): update documentation to remove fixed know issue
  docs/docs/troubleshooting/common-issues.md
Labels: triage, documentation

fix(docs): update documentation to remove fixed know issue (#49)
  docs/docs/troubleshooting/common-issues.md
Labels: triage, documentation

ops(dev): add mise to help with tasks
  mise.toml
  package-lock.json
  package.json
Labels: triage

ops(dev): add mise to help with tasks (#50)
  mise.toml
  package-lock.json
  package.json
Labels: triage

Notes added by 'git notes add'
  4013eb960160ca7aa549295e6857b2f2b1592286
Labels: triage

build(vsix): add clean icon sets
  assets/README.md
  assets/origin.png
  assets/tombo.png
  package.json
Labels: triage, documentation

build(vsix): add clean icon sets & update version 1.0.1 (#51)
  assets/README.md
  assets/origin.png
  assets/tombo.png
  package.json
Labels: triage, documentation

style(json): fix format of pacakge.json
  package.json
Labels: triage

.github/labeler.yml:

triage:
  - changed-files:
      - any-glob-to-any-file: '**/*'

enhancement:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**/*'

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - '**/*.md'
          - 'docs/**/*.md'
          - 'docs/mkdocs.yml'
